<a href="https://colab.research.google.com/github/al34n1x/DataScience/blob/master/9.BigData/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
!tar xf spark-2.4.8-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
archivo = './sample_data/california_housing_train.csv'
df_spark = spark.read.csv(archivo, inferSchema=True, header=True)
print(type(df_spark))

In [ ]:
df_spark.count()

In [ ]:
df_spark.printSchema()

In [ ]:
df_spark.columns

In [ ]:
df_spark.show()

In [ ]:
df_spark.describe().toPandas().transpose()

In [14]:
df_spark.write.parquet("california_housing_train.parquet")

In [16]:
parquetFile = spark.read.parquet("california_housing_train.parquet")

In [17]:
parquetFile.createOrReplaceTempView("parquetFile")

In [20]:
california = spark.sql("SELECT * FROM parquetFile where median_income < 1.4")

In [ ]:
california.show()